<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.jilipop.adohra">

    <uses-feature android:name="android.hardware.audio.output" android:required="true" />
    <uses-feature android:name="android.hardware.location" android:required="true" />
    <uses-feature android:name="android.hardware.wifi" android:required="true" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
            android:allowBackup="true"
            android:icon="@mipmap/adohra"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/adohra_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AD">
        <activity
                android:name="io.github.jilipop.adohra.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--evtl. innerhalb von <activity> hinzufügen, wenn die Zurück-Navigation nicht tut, was sie soll: android:launchMode="singleTask"-->

        <service android:name="io.github.jilipop.adohra.ReceiverService">

        </service>

    </application>

</manifest>